
$color-primary: #005eb8;
$color-primary-dark: #0056a8;
$color-primary-darker: #004c94;
$color-primary-light: #78adf3;

$color-secondary: #d50032;

$color-background: #f6f9fe; 
$color-white: #ffffff;
$color-black: #000000;

$color-text-heading: #041e49;
$color-text-body: #041e49;

$font-main: 'Atkinson Hyperlegible', sans-serif;

$font-size-h1: 53.75px;
$font-size-h2: 44.79px;
$font-size-h3: 37.32px;
$font-size-h5: 25.92px;
$font-size-body: 16px;
